/** I want to credit David one of the Winners from 2019 for the source of this code**/
/* imports */
@import url('https://fonts.googleapis.com/css2family=Black+Ops+One&display=swap');

/********************* // story // ********************/
.story {
    /* .story positioning */
    position: absolute;
    top: 0;
    left: 0;
    /* font setting */
    font-family: 'Black Ops One', cursive;
    font-size: 2rem;
}

/*** // header // ***/
.title {
    /* The title being adjusted and positioned */
    text-align: center;
    position: relative;
    top: 0vh;
    width: 100%;
    margin-top: -10vh;
}

h1 {
    /* font settings and color */
    font-family: 'Black Ops One', cursive;
    font-size: 3rem;
    color: aliceblue;
    text-shadow: 1vw 1vh 5px black;
    padding: 45vh 0vw 47vh 0vw;
    /* background settings and position */
    background-image: url("../photos/Sheikh.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*** // box one // ***/
.p_one {
    /* background settings and position */
    background-image: url("../photos/kids2.jpg");
    background-color: #41533b;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 125vh;
    background-size: 35%;
    margin-top: -7vh;
}

.txt_one {
    /* text color and settings */
    color: aliceblue;
    width: 45%;
    padding: 7vh 2vw 7vh 2vw;
}

/*** // box two // ***/
.p_two {
    /* background settings and position */
    background-color: #9e9a75;
    background-image: url("../photos/sold.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10vh;
    background-size: 35%;
    margin-top: -7vh
}

.txt_two {
    /* text color and settings */
    color: aliceblue;
    padding: 7vh 2vw 7vh 2vw;
    width: 45%;
    position: relative;
    left: 50%;
}

/* // box three // ***/
.p_three {
    /* background settings and position */
    background-color: #554840;
    background-image: url("../photos/sold2.png");
    background-position: 10vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 20%;
    margin-top: -8vh
}

.txt_three {
    /* text color and settings */
    color: aliceblue;
    padding: 7vh 2vw 7vh 2vw;
    width: 45%;
    position: relative;
    left: 50%;
}

/*** // box five // ***/
.p_five {
    /* background settings and position */
    background-color: #1c222e;
    background-image: url("../photos/1971.jpg");
    background-repeat: no-repeat;
    background-position: 125vh;
    background-attachment: fixed;
    background-size: 35%;
    z-index: 3;
    margin-top: -8vh;
    padding-bottom: 1vh;
}

.txt_five {
    /* text color and settings */
    color: aliceblue;
    z-index: 4;
    padding: 7vh 2vw 7vh 2vw;
    width: 45%;
}
