@import url('https://fonts.googleapis.com/css?family=Quicksand');

/**This is just for looks**/
body {
    background-color: #006747;
}

/**The div controls the designs, like the container style and some colors**/
div {
    font-family: Quicksand;
    font-size: 2.5vh;
    font-weight: bold;
    color: #DA291C;
    background-color: #006747;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
}

/*This is for making sure the images are full size*/
img {
  position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
}

/*This controls the size of the containers*/
.container {
    position: absolute;
    width: 33vw;
    height: 100vh;
}

/*This contains the second photo containers*/
.overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s ease;
}

/*This allows for the picture to change when hovering*/
.container:hover .overlay {
    opacity: 1;
}

/**This contains our information**/
.overlay_text {
    position: absolute;
    top: 2vw;
    opacity: 0;
}

/*This allows the text to appear*/
.overlay_text {
    opacity: 1;
    text-align: center;
}

/*These just decide the position of our containers*/
.al {
    left: 0vw;
}

.dillon {
    left: 33vw;
}

.rufayda {
    left: 66vw;
}

/* the code below allows the site to work on mobile*/
@media only screen and (hover: none) and (pointer: coarse)
{
div {
    font-family: Quicksand;
    font-size: 1.5vh;
    font-weight: bold;
    top: 40px;
    color: #DA291C;
    background-color: #006747;
}


}
